.css-ahj2mt-MuiTypography-root{
    padding: 10px !important;
    white-space: nowrap !important;
  }
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root{
    justify-content: center !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover{
    background-color: #dddddd5e;
}
.css-ezksts-MuiStack-root{
    padding-top: 6px;
}